@model WebApplication3.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <h1>STUDENT MANAGEMENT SYSTEM</h1>
</head>
<body>
   
    <div class="row">

        <div class="col-lg-6">
            @Html.Action("Login")
        </div>
        </div>
       
</body>
</html>
